/* BASIC CSS  */
/* BRON CHECKBOXES: https://codepen.io/Fabienne02/pen/LYOXwwd (van Sanne) */
body {
  --hue: calc(360 / 10 * var(--s1-x, 0));
  background-color: rgb(231, 231, 240);
  font-family: Noto sans;
  overflow: hidden;
  margin: 0px;
}

main {
  min-height: 103vh;
  min-width: 100vw;
  margin-top: -1%;
}

/* Custom properties */
:root {
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --orange: rgb(255, 153, 0);
  --darkgrey: #383838;
  --grey: #575757;
  --lightgrey: #919191;
}

/* BODY CSS */
/* ACHTERGROND TEMPATURE RULE */
section:nth-of-type(1) {
  position: absolute;
  background-color: white;
  padding: 50px;
  box-shadow: var(--shadow);
  border-radius: 50%;
  width: 25em;
  height: 25em;
  margin-left: 28%;
  margin-top: 5.2%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  align-self: center;
}

/* BRON GRADIENT: https://www.css-gradient.com/ */
section:nth-of-type(1) div:nth-of-type(1) {
  border-radius: 50%;
  background: conic-gradient(
    #30416d,
    #96b2ff,
    #c7bc7f,
    #cf8138,
    #ee520a,
    #96b2ff,
    #30416d
  );
  transition: all 1s ease-in-out;
  width: 25em;
  height: 25em;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  align-self: center;
}

section:nth-of-type(1) div:nth-of-type(2) {
  position: absolute;
  border-radius: 50%;
  background: white;
  width: 23em;
  height: 23em;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  align-self: center;
}

section:nth-of-type(1) div:nth-of-type(3) {
  position: absolute;
  border-bottom: 6.3em solid white;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  height: 25em;
  width: 245px;
  top: -10%;
}

section:nth-of-type(1) p:nth-of-type(1) {
  position: absolute;
  top: 30%;
  font-size: 1.4rem;
}

/* ROTATING CONIC GRADIENT */
[data-s1-x="0"] + body section:nth-of-type(1) div:nth-of-type(1) {
  transform: rotate(-70deg);
}

[data-s1-x="1"] + body section:nth-of-type(1) div:nth-of-type(1) {
  transform: rotate(-20deg);
}

[data-s1-x="2"] + body section:nth-of-type(1) div:nth-of-type(1) {
  transform: rotate(10deg);
}

[data-s1-x="3"] + body section:nth-of-type(1) div:nth-of-type(1) {
  transform: rotate(20deg);
}

[data-s1-x="4"] + body section:nth-of-type(1) div:nth-of-type(1) {
  transform: rotate(30deg);
}

[data-s1-x="5"] + body section:nth-of-type(1) div:nth-of-type(1) {
  transform: rotate(40deg);
}

[data-s1-x="6"] + body section:nth-of-type(1) div:nth-of-type(1) {
  transform: rotate(50deg);
}

[data-s1-x="7"] + body section:nth-of-type(1) div:nth-of-type(1) {
  transform: rotate(60deg);
}

[data-s1-x="8"] + body section:nth-of-type(1) div:nth-of-type(1) {
  transform: rotate(70deg);
}

[data-s1-x="9"] + body section:nth-of-type(1) div:nth-of-type(1) {
  transform: rotate(85deg);
}

[data-s1-x="10"] + body section:nth-of-type(1) div:nth-of-type(1) {
  transform: rotate(100deg);
}

/* TEMP CHANGE IF SLIDER CHANGES + SLIDER CSS */
[data-s1-x="10"] + body section:nth-of-type(1) p:nth-of-type(1)::after {
  width: 100%;
  text-align: center;
  display: block;
  content: "40°C ";
}

[data-s1-x="9"] + body section:nth-of-type(1) p:nth-of-type(1)::after {
  width: 100%;
  text-align: center;
  display: block;
  content: "36°C ";
}

[data-s1-x="8"] + body section:nth-of-type(1) p:nth-of-type(1)::after {
  width: 100%;
  text-align: center;
  display: block;
  content: "34°C ";
}

[data-s1-x="7"] + body section:nth-of-type(1) p:nth-of-type(1)::after {
  width: 100%;
  text-align: center;
  display: block;
  content: "28°C ";
}

[data-s1-x="6"] + body section:nth-of-type(1) p:nth-of-type(1)::after {
  width: 100%;
  text-align: center;
  display: block;
  content: "24°C ";
}

[data-s1-x="5"] + body section:nth-of-type(1) p:nth-of-type(1)::after {
  width: 100%;
  text-align: center;
  display: block;
  content: "20°C ";
}

[data-s1-x="4"] + body section:nth-of-type(1) p:nth-of-type(1)::after {
  width: 100%;
  text-align: center;
  display: block;
  content: "16°C ";
}

[data-s1-x="3"] + body section:nth-of-type(1) p:nth-of-type(1)::after {
  width: 100%;
  text-align: center;
  display: block;
  content: "12°C";
}

[data-s1-x="2"] + body section:nth-of-type(1) p:nth-of-type(1)::after {
  width: 100%;
  text-align: center;
  display: block;
  content: "8°C ";
}

[data-s1-x="1"] + body section:nth-of-type(1) p:nth-of-type(1)::after {
  width: 100%;
  text-align: center;
  display: block;
  content: "4°C ";
}

[data-s1-x="0"] + body section:nth-of-type(1) p:nth-of-type(1)::after {
  width: 100%;
  text-align: center;
  display: block;
  content: "0°C ";
}

section:nth-of-type(1) a {
  position: absolute;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  align-self: center;
  top: 55%;
  background-color: #e4e4e4;
  border-radius: 5%;
  box-shadow: var(--shadow);
  padding: 1em;
}

form {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  align-self: center;
}
fieldset {
  border: none;
  width: 31em;
}

label {
  display: block;
  /* EM OM DE REST NIET TE BEINVLOEDEN */
  margin-bottom: 1em;
  padding: 0.5em;
}

/* KNOPPEN  */
input:nth-of-type(1):checked ~ main label:nth-of-type(1) p {
  color: var(--orange);
}

input:nth-of-type(2):checked ~ main label:nth-of-type(2) p {
  color: var(--orange);
}

input:nth-of-type(3):checked ~ main label:nth-of-type(3) p {
  color: var(--orange);
}

input:nth-of-type(4):checked ~ main label:nth-of-type(4) p {
  color: var(--orange);
}

ul li label {
  cursor: pointer;
  background-color: white;
  box-shadow: var(--shadow);
  height: 4.4em;
  width: 4.4em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  align-self: center;
  flex-direction: column;
}

li {
  position: absolute;
  top: 18%;
  left: 15%;
}

ul li label p {
  color: #30416d;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  align-self: center;
}

ul li label:hover {
  box-shadow: 0 0 0.5em var(--orange);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

ul {
  list-style-type: none;
}

/* FUNCTION ALS BUTTON CLICKED IS */
/* BRON ROTATE: https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/rotate() */
img:nth-of-type(1) {
  position: absolute;
  height: 3.7em;
  top: 75%;
  visibility: hidden;
}

input:nth-of-type(3):checked ~ main img:nth-of-type(1) {
  visibility: visible;
  animation: rotation 1s linear infinite;
  transform-origin: 50% 56.5%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

img:nth-of-type(2) {
  position: absolute;
  height: 6.3em;
  top: 72%;
  visibility: hidden;
}

input:nth-of-type(2):checked ~ main img:nth-of-type(2) {
  visibility: visible;
  animation: wavy 3s linear infinite;
}

@keyframes wavy {
  0% {
    transform: translateX(0%);
  }
  40% {
    transform: translateX(2%) translateY(2%) rotate(5deg);
  }
  80% {
    transform: translateX(-2%) translateY(-2%) rotate(-5deg);
  }
  100% {
    transform: translateX(0%);
  }
}

input:nth-of-type(4):checked ~ main img:nth-of-type(1) {
  visibility: visible;
  animation: rotation 1s linear infinite;
  margin-left: 20%;
}

input:nth-of-type(4):checked ~ main img:nth-of-type(2) {
  visibility: visible;
  animation: wavy 3s linear infinite;
  margin-left: -18%;
}

/* RANGE SLIDER */
/* BRON GRADIENT: https://www.css-gradient.com/ */
/* BRON RANGE SLIDER: https://www.cssportal.com/style-input-range/ */
input[type="range"] {
  -webkit-appearance: none;
  width: 80%;
  height: 0.5em;
  border-radius: 1em;
  background-image: linear-gradient(
    to right,
    #30416d,
    #96b2ff,
    #c7bc7f,
    #cf8138,
    #ee520a
  );
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-top: 120%;
  margin-left: -7%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.3em;
  height: 1.3em;
  background: transparent;
  border: 0.2em solid transparent;
  border-color: white;
  border-radius: 50%;
  cursor: pointer;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #30416d, #96b2ff, #c7bc7f, #cf8138, #ee520a);
  background-attachment: fixed, fixed;
  background-clip: padding-box, border-box;
}

input[type="range"]::-moz-range-thumb {
  width: 1.3em;
  height: 1.3em;
  background: transparent;
  border: 0.2em solid transparent;
  border-radius: 50%;
  cursor: pointer;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #30416d, #96b2ff, #c7bc7f, #cf8138, #ee520a);
  background-attachment: fixed, fixed;
  background-clip: padding-box, border-box;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--darkgrey);
  }
}

@media (prefers-color-scheme: dark) {
  main {
    background-color: var(--darkgrey);
  }
}

@media (prefers-color-scheme: dark) {
  main label {
    background-color: var(--grey);
  }
}

@media (prefers-color-scheme: dark) {
  main label p {
    color: var(--lightgrey);
  }
}

@media (prefers-color-scheme: dark) {
  header label {
    background-color: var(--grey);
  }
}

@media (prefers-color-scheme: dark) {
  main fieldset label {
    background-color: transparent;
  }
}

@media (prefers-color-scheme: dark) {
  main section:nth-of-type(1) {
    background-color: var(--grey);
  }
}

@media (prefers-color-scheme: dark) {
  main section:nth-of-type(1) div:nth-of-type(2) {
    background-color: var(--grey);
  }
}

@media (prefers-color-scheme: dark) {
  main section:nth-of-type(1) div:nth-of-type(3) {
    border-bottom-color: var(--grey);
  }
}

header label {
  position: absolute;
  cursor: pointer;
  background-color: white;
  box-shadow: var(--shadow);
  height: 4.4em;
  width: 4.4em;
  border-radius: 50%;
  border-style: none;
  right: 5%;
  top: 5%;
}

header label p {
  position: relative;
  color: #30416d;
  font-weight: 800;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  align-self: center;
  left: 20%;
}

header label:hover {
  box-shadow: 0 0 0.5em var(--orange);
}

input:nth-of-type(5):checked ~ header label p {
  color: var(--lightgrey);
}

/* KLEUREN AANPASSEN - DARK MODE */
input:nth-of-type(5):checked ~ main {
  background-color: var(--darkgrey);
}

input:nth-of-type(5):checked ~ main label {
  background-color: var(--grey);
}

input:nth-of-type(5):checked ~ main label p {
  color: var(--lightgrey);
}

input:nth-of-type(5):checked ~ header label {
  background-color: var(--grey);
}

input:nth-of-type(5):checked ~ main fieldset label {
  background-color: transparent;
}

input:nth-of-type(5):checked ~ main section:nth-of-type(1) {
  background-color: var(--grey);
}

input:nth-of-type(5):checked ~ main section:nth-of-type(1) div:nth-of-type(2) {
  background-color: var(--grey);
}

input:nth-of-type(5):checked ~ main section:nth-of-type(1) div:nth-of-type(3) {
  border-bottom-color: var(--grey);
}
